/*
 * Following CSS codes are used only for demo purpose thus you can remove them completly whenever you want. 
 */


body.login-content:before {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #efefef;
  background-image: url("../img/header-bg.jpg");
  background-position: center center;
    
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cove;
  -moz-background-size: cove;
  background-size: cover;
  -o-background-size: cover
  z-index: 0;
}

.lc-block{
  margin-top: 10% !important;
}


.toggle-switch .ts-label {
    min-width: 130px;
}

.media-demo .media {
    margin-bottom: 25px;
}

.media-demo .media .media {
    margin-top: 25px;
}

.dropdown-basic-demo {
    display: inline-block;
    margin: 0 15px 20px 0;
}

.dropdown-basic-demo .dropdown-menu {
    display: block;
    position: relative;
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=1);
    z-index: 0;
}

.dropdown-btn-demo .dropdown, .dropdown-btn-demo .btn-group, .btn-demo .btn {
    display: inline-block;
    margin: 0 5px 7px 0;
}

.modal-preview-demo .modal {
    position: relative; 
    display: block; 
    z-index: 0; 
    background: rgba(0,0,0,0.1);
}

.margin-bottom > *{
    margin-bottom: 20px;
}

.popover-demo .popover {
    position: relative;
    display: inline-block;
    opacity: 1;
    margin: 0 10px 30px;
    z-index: 0;
}

.color-block {
    height: 100px;
    color: rgba(255,255,255,0.9);
    text-align: center;
    padding: 15px 0;
    border-radius: 2px;
    margin-bottom: 25px;
}

.color-block span {
    display: block;
}

.color-block .color {
    font-size: 14px;
    text-transform: uppercase;
}

.color-block .code {
    margin: 5px 0;
}

.color-block .less {
    font-size: 11px;
}

.animation-demo .row {
    margin: 25px -6px 0;
    margin-bottom: -10px;
}

.animation-demo .card-body img {
    width: 100%;
    z-index: 1;
    position: relative;
}

.animation-demo .col-xs-6 {
    padding: 0 6px;
    margin-bottom: 12px;
}

.animation-demo .btn {
    width: 100%;
    text-transform: none;
}

.bs-item {
    background: #fff;
    margin-bottom: 30px;
    height: 100px;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
}

.bs-item:before {
    display: inline-block;
    content: "";
    height: 100px;
    width: 1px;
    vertical-align: middle;
}

.btn-colors > .btn {
    min-width: 112px;
}

.btn-demo > .btn, .btn-group-demo > .btn-group {
    margin: 0 5px 10px 0;
}



.icons-demo .card-body .zmdi, .card-body .socicon {
    font-size: 23px;
    vertical-align: middle;
    color: #333;
    margin-right: 10px;
}

.icons-demo .card-body .col-sm-4 {
    padding: 0 7px;
}

.icons-demo .card-body .col-sm-4 p {
    padding: 8px;
    border-radius: 2px;
    margin-bottom: 0;
}

.icons-demo .card-body .col-sm-4 p:hover {
    background: #eee;
    cursor: pointer;
}

.notifications .btn {
    width: 100%;
    margin-bottom: 20px;
}

.datepicker-demo .dd-block {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 25px;
    vertical-align: top;
}

.cursor{
    cursor: pointer !important;
}

.no-cursor{
  cursor: default !important;
}

.selected_item_menu{
    background-color: #efefef;
    color: gray;
}

.header-color-tag-1{ /*Politica*/
    background-color: #33cccc !important;
}

.header-color-tag-2{ /*Arte y Cultura*/
    background-color: #9966ff !important;
}

.header-color-tag-3{ /*Ciencia*/
    background-color: #ff9933 !important;
}

.header-color-tag-4{ /*Deportes*/
    background-color: #0066ff !important;
}

.header-color-tag-5{ /*Economía*/
    background-color: #339933 !important;
}

.header-color-tag-6{ /*Educación*/
    background-color: #669999 !important;
}

.header-color-tag-7{ /*Salud*/
    background-color: #0066cc !important;
}

.header-color-tag-8{ /*Sociedad*/
    background-color: #6666ff !important;
}

.header-color-tag-8{ /*Tecnología*/
    background-color: #006600 !important;
}

.header-color-tag-9{ /*Curiosidades*/
    background-color: #00ccff !important;
}

.header-color-tag-10{ /*Galicia*/
    background-color: rgba(12,183,242,1) !important;
}

.header-color-tag-11{ /*Otras*/
    background-color: #cc6699 !important;
}


.header-color-tag-sentiment-0{
    background-color: orange !important;

}

.header-color-tag-sentiment-1{
    background-color: green !important;

}

.header-color-tag-sentiment--1{
    background-color: red !important;

}

.no-color-tag{
    background-color: white !important;
    color: black;
    border: 1px solid #E0E0E0;

}

.red{
    color: #9E0404;
}

.green{
    color: #328235;
}

/*Overwrite elements gui news*/

.wa-tags {
    float: left;
    margin-bottom: 10px;
}

.wa-tags > span {
  margin-right: -1px;
  padding: 7px 12px;
  border: 1px solid #E0E0E0;
  float: left;
  font-weight: 500;
}

.wa-tags > span.active {
  color: #4caf50;
}

.wa-tags > span:first-child {
  border-radius: 2px 0 0 2px;
}

.wa-tags > span:last-child {
  border-radius: 0 2px 2px 0;
}

.wa-tags > span > i {
  line-height: 100%;
  vertical-align: top;
  position: relative;
  top: 2px;
  font-size: 15px;
  margin-right: 2px;
}

.meta{
    margin-top: 5px;
}



.wa-social {
  float: right;
  padding: 0 !important;
  margin-right: -5px;
}

@media (max-width: 425px) {
  .wa-social {
      float: left;
      margin-bottom: 10px;
    }
}

.wa-social > a {
  display: inline-block;
  margin-left: 2px;
}

.wa-social > a > img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.wa-social > a > img:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}


/*End overwrite elements gui news*/

@media (max-height: 520px) {
  .dropdown-xs {
    overflow: auto;
    height: 300px;
  }
}

.position-msg{
  position: fixed; 
  margin: 0px; 
  z-index: 1031; 
  display: 
  inline-block; 
  top: 100px; 
  right: 20px;
}

.fadeOutUp{
  z-index: -1; 
}

.close-position-msg{
  display: block; z-index: 1030;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.lowercase{
  text-transform: lowercase;
}




