<ul class="header-inner clearfix" ng-init="hctrl.init()">
    <li class="logo">
        <a data-ui-sref="home" href="#/" class="cursor" ng-click="hctrl.showButtonFav()">Boudly</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">

            <li id="top-search" tooltip-trigger="mouseenter" tooltip-placement="bottom" uib-tooltip="{{'header_menu.search_btn' | translate}}">
                <a href="" data-ng-click="hctrl.openSearch()"  >
                    <i class="tm-icon zmdi zmdi-search"></i></a>
            </li>

            <li id="top-profile" class="hidden-xs" ng-show="hctrl.isVisibleButtonProfile()" tooltip-trigger="mouseenter" tooltip-placement="bottom" uib-tooltip="{{'header_menu.my_profile_btn' | translate}}">
                <a href="#/profile">
                    <i class="tm-icon zmdi zmdi-account-o"></i>

                </a>
            </li>

            <li id="top-favorites" class="hidden-xs" ng-show="hctrl.isVisibleButtonFavs()" tooltip-trigger="mouseenter" tooltip-placement="bottom" uib-tooltip="{{'header_menu.favorites_btn' | translate}}">
                <a href="./#/news/read/later" popover-placement="bottom">
                    <i class="tm-icon zmdi zmdi-favorite-outline"></i>

                </a>
            </li>

            <li id="top-news" class="hidden-xs" ng-show="hctrl.isVisibleButtonNews()" tooltip-trigger="mouseenter" tooltip-placement="bottom" uib-tooltip="{{'header_menu.showNews_btn' | translate}}">
                <a href="./#/news">
                    <i class="tm-icon zmdi zmdi-view-headline"></i>
                </a>
            </li>


            <li id="top-fullscreen" tooltip-placement="bottom" uib-tooltip="{{'header_menu.fullScreen_btn' | translate}}" tooltip-trigger="mouseenter">
                <a data-ng-click="hctrl.fullScreen()" href="">
                    <i ng-class="{ 'tm-icon zmdi zmdi-fullscreen': !hctrl.isFullScreen,  'tm-icon zmdi zmdi-fullscreen-exit': hctrl.isFullScreen}"></i>

                </a>
            </li>


            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dm-icon pull-right dropdown-xs">
                    <li class="cursor" ng-hide="!hctrl.isAnonymousUser()"><a href="#/login"><i class="zmdi zmdi-account-o"></i> {{'header_menu.open_session_lbl'|translate}}</a></li>


                    <li class="cursor hidden-xl" ng-hide="!hctrl.isVisibleButtonProfile()"><a href="#/profile"><i class="zmdi zmdi-account-o"></i> {{'header_menu.my_profile_lbl'|translate}}</a></li>

                    <li class="cursor hidden-xl">
                        <a href="./#/news/read/later" ng-show="hctrl.isVisibleButtonFavs()">
                            <i class="zmdi zmdi-favorite-outline"></i> {{'header_menu.favorites_btn'|translate}} 

                        </a> 
                    </li>

                    <li class="cursor hidden-xl">
                        <a href="./#/news" ng-show="hctrl.isVisibleButtonNews()">
                            <i class="zmdi zmdi-view-headline"></i> {{'header_menu.news_btn'|translate}}
                        </a>
                    </li>

                    <li class="cursor" ng-hide="hctrl.isAnonymousUser()"><a href="#/login" ng-click="hctrl.logOut()"><i class="zmdi zmdi-time-restore"></i> {{'header_menu.close_session_btn'|translate}}</a></li>

                    <li class="divider"></li>

                    <li class="cursor">
                    </li>

                    <li class="cursor" ng-repeat="setting in hctrl.getSettings()">
                        <a ng-click="hctrl.notificationChange(setting)">
                            <i class="zmdi zmdi-eye-off zmdi-hc-fw red" ng-hide="setting.enable"></i>
                            <i class="zmdi zmdi-eye zmdi-hc-fw green" ng-hide="!setting.enable"></i>
                            {{'header_menu.element' + setting.id | translate}}</a>


                    </li>
                    
                    <li class="divider"></li>

                    <li class="cursor">                    
                        <a ng-click="hctrl.changeVisibilityToAll(true)">
                            <i class="zmdi zmdi-eye zmdi-hc-fw green"></i>
                            {{'header_menu.markedAll' | translate}}
                        </a>
                    </li>

                    <li class="cursor">
                        <a ng-click="hctrl.changeVisibilityToAll(false)">
                            <i class="zmdi zmdi-eye-off zmdi-hc-fw red"></i>
                            {{'header_menu.markedNone' | translate}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <div class="tsw-inner">
        <i id="top-search-close" class="zmdi zmdi-arrow-left" data-ng-click="hctrl.closeSearch()"></i>
        <form ng-submit="hctrl.searchNow()">
            <input type="text" ng-model="hctrl.q">
        </form>
    </div>
</div>
