<div class="container" data-ng-init="pctrl.init()">

    <div class="block-header">
        <h2>{{'profile.hello_lbl' | translate}} <small>{{pctrl.user.email}}</small></h2>

    </div>

    <div class="card animated bounceInLeft" id="profile-main">
        
        <div class="clearfix">

            <div class="pmb-block">
                <div class="p-header">
                    <ul class="p-menu">
                        <li ng-class="{ 'active': pctrl.showMyNewspaper}"><a href="" ng-class="{ 'no-cursor': pctrl.showMyNewspaper}" ng-click="pctrl.showListNewsPaper()"><i class="zmdi zmdi-accounts hidden-xs"></i> {{'profile.my_new_lbl' | translate}}</a></li>
                        <li ng-class="{ 'active': pctrl.showSearcherResult}" ng-hide="pctrl.resultWord.length===0"><a href="" ng-class="{ 'no-cursor': pctrl.showSearcherResult}" ng-click="pctrl.showSearcherNewsPaper()"><i class="zmdi zmdi-accounts-add hidden-xs"></i> {{'profile.result_lbl' | translate}} {{pctrl.resultWord}}</a></li>
                        <li class="pm-search">
                            <div class="pms-inner">
                                <form  ng-submit="pctrl.searchHosts()">
                                    <i class="zmdi zmdi-search"></i>
                                    <input type="text" placeholder="{{'profile.search_new_plc' | translate}}" ng-model="pctrl.querySearch" ng-click="pctrl.cleanParam()"/>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>



                <div class="contacts c-profile clearfix row"  ng-controller="DetailHostCtrl as hostCtrl">

                    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="pctrl.showMyNewspaper && pctrl.getHosts().length==0">
                        <div class="c-item">
                            <div class="c-info">
                                <strong>{{'profile.not_host_selected' | translate}}</strong>
                            </div>

                            <div class="c-footer">
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="hostInfo in pctrl.getHosts()" ng-show="pctrl.showMyNewspaper">
                        <div class="c-item">

                            <div class="c-info">
                                <strong>{{hostInfo.value}}</strong>
                            </div>

                            <div class="c-footer" ng-hide="pctrl.hostSelected(hostInfo.id)">
                                <button class="btn bgm-bluegray waves-effect" ng-click="hostCtrl.add(hostInfo.id)" >
                                    <i class="zmdi zmdi-person-add"></i> {{'profile.show_host_lbl' | translate}}
                                </button>
                            </div>

                            <div class="c-footer" ng-hide="!pctrl.hostSelected(hostInfo.id)">
                                 <button class="btn bgm-red waves-effect" ng-click="hostCtrl.delete(hostInfo.id)" >
                                    <i class="zmdi zmdi-person-add"></i> {{'profile.stop_show_host_lbl' | translate}}
                                </button>

                            </div>

                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="hostInfo in pctrl.getResultSearch()"  ng-show="pctrl.showSearcherResult">
                        <div class="c-item">
                            <!--<a href="" class="ci-avatar">
                                <img src="img/contacts/16.jpg" alt="">
                            </a>-->

                            <div class="c-info">
                                <strong>{{hostInfo.value}}</strong>
                            </div>

                            <div class="c-footer" ng-hide="pctrl.hostSelected(hostInfo.id)">
                                <button class="btn bgm-bluegray waves-effect" ng-click="hostCtrl.add(hostInfo.id)" >
                                    <i class="zmdi zmdi-person-add"></i> {{'profile.show_host_lbl' | translate}}
                                </button>
                            </div>

                            <div class="c-footer" ng-hide="!pctrl.hostSelected(hostInfo.id)">
                                 <button class="btn bgm-red waves-effect" ng-click="hostCtrl.delete(hostInfo.id)" >
                                    <i class="zmdi zmdi-person-add"></i> {{'profile.stop_show_host_lbl' | translate}}
                                </button>

                            </div>

                        </div>
                    </div>

                </div>
                
                <div class="load-more" ng-click="pctrl.moreHosts()" ng-show="pctrl.visibleMoreData() && pctrl.showSearcherResult">
                    <a href="" class="bgm-bluegray"><i class="zmdi zmdi-refresh-alt"></i> {{'profile.more_resul_btn' | translate}}</a>
                </div>
                
            </div>

            <div class="pmb-block margin-bottom-20">
                <feedback type="'2'" header="'profile'" ></feedback>
                
                  
            </div>
        </div>
    </div>
</div>
