	<section id="content" when-scrolled="resultSearch.loadMore()"  data-ng-init="resultSearch.init()">

        <div class="container">

            <!-- Colored Headers -->
            <div class="block-header">
                <h2><small> {{'search_result.resume_lbl' | translate}} "{{resultSearch.query}}"</small></h2>

            </div>

            <div class="row"><!--ng-repeat="new in NewsCtrl.getNews()"-->
                <not-news ng-show="resultSearch.getNews().length===0 && !resultSearch.showLoading()"></not-news>
                <news info="new" ng-repeat="new in resultSearch.getNews()"></news>
                <loading ng-show="resultSearch.showLoading()"></loading>
            </div>

            <br/>
            <br/>
        </div>


    </section>
