body{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.margin-top{
    margin-top: 10px;
}

.margin-left{
    margin-left: 10px;
}

.margin-bottom{
    margin-bottom: 10px;
}