                <div  ng-hide="!fdkCtrl.isVisibleMail" class="animated fadeIn" ng-init="fdkCtrl.initParams()">

                        <p class="c-black f-500">{{header+'.suggestion_lbl'|translate}}</p>

                        
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="fg-line">
                                        <input type="text" id="name" name="name" class="form-control" placeholder="{{header+'.name_plh'|translate}}" ng-model="fdkCtrl.params.name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="fg-line">
                                        <input type="text" id="email" name="email" class="form-control" placeholder="{{header+'.email_plh'|translate}}" ng-model="fdkCtrl.params.email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="fg-line">
                                        <textarea class="form-control" id="msg" name="msg" rows="5" placeholder="{{header+'.yor_suggestion_plh'|translate}}" ng-model="fdkCtrl.params.msg"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-default btn-block bgm-bluegray  waves-effect" ng-click="fdkCtrl.send(type, idnew)">{{header+'.send_btn' | translate}}</button>
                        <button class="btn btn-danger btn-block  waves-effect" ng-click="fdkCtrl.changeVisibilityMail(false)">{{header+'.cancel_btn' | translate}}</button>
                </div>
             
                <a class="lv-footer f-15" ng-hide="fdkCtrl.isVisibleMail" href="" ng-click="fdkCtrl.changeVisibilityMail(true)">
                    <i class="zmdi zmdi-edit"></i> {{header+'.suggestion_btn'|translate}}
                </a>