<div class="col-sm-12">
    <div class="card animated bounceInUp">
    	<div class="card-header bgm-bluegray" >
        	<h2 class="cursor" ng-click="ctrlDetail.changeVisibilitySummarizer(true)">{{newInfo.title}}</h2>
       	</div>
                        
       	<div class="card-body card-padding">
                            
       	    <div class="wall-img-preview lightbox clearfix"  ng-show="newInfo.photos.length>0" >

       	        <div class="wip-item" style="background-image: url({{newInfo.photos[0].url}});">
       	            <div class="lightbox-item"></div>
       	        </div>
       	    </div>

       	    <p class="animated fadeIn" ng-show="ctrlDetail.isVisible">{{newInfo.summarizer}}</p> 


            <ul class="wall-attrs clearfix list-inline list-unstyled">
              <li class="wa-tags">
                  <div class="meta">
                    <span class="badge header-color-tag-{{newInfo.tag}} no-cursor">
                      {{'header_menu.element' + newInfo.tag | translate}}
                    </span> 
                    <span class="badge header-color-tag-{{newInfo.tag}} no-cursor">{{newInfo.moment}}</span>
                    <!--
                    <span class="badge header-color-tag-sentiment-{{newInfo.sentiment}} no-cursor">
                        <i ng-class="{ 'zmdi zmdi-thumb-up': newInfo.sentiment==1,  'zmdi zmdi-thumb-up-down': newInfo.sentiment==0, 'zmdi zmdi-thumb-down' : newInfo.sentiment==-1}"></i>
                    </span> 
                    -->
                    
                  </diV>
              </li>
                        
              <li class="wa-social">
                  <ul class="actions">


                    <li uib-tooltip="{{'news.read_after_plh' | translate}}">
                        <a ng-href="" target="_blank" ng-click="ctrlDetail.changeFavoriteValue(newInfo)">
                            <i ng-class="{ 'zmdi zmdi-favorite': newInfo.isFavorite,  'zmdi zmdi-favorite-outline': !newInfo.isFavortite}"></i>
                        </a>
                    </li>
                    <li uib-tooltip="{{'news.show_original_plh' | translate}}">
                        <a ng-href="{{newInfo.url}}" target="_blank">
                            <i class="zmdi zmdi-open-in-new"></i>
                        </a>
                    </li>
                    <li uib-tooltip="{{'news.twitter_plh' | translate}}">
                        <a ng-href="http://twitter.com/share?url=http://boudly.com&text={{'news.twitter_share_msg' | translate}}: {{newInfo.url}}." target="_blank">
                            <i class="zmdi zmdi-twitter"></i>
                        </a>
                    </li>
                    <li uib-tooltip="{{'news.facebook_plh' | translate}}">
                        <a href="http://www.facebook.com/sharer.php?s=100&amp;u=http%3A%2F%2Fboudly.com&amp;t=[Boudly] {{newInfo.title}}%2050&amp;p[summary]={{'news.facebook_share_msg' | translate}}: {{newInfo.url}}" target="_blank">
                            <i class="zmdi zmdi-facebook-box"></i>
                        </a>
                    </li>

                    <li uib-tooltip="{{'news.mail_plh' | translate}}">
                        <a ng-href="mailto:?subject=[Boudly] {{newInfo.title}}&amp;body={{'news.mail_share_msg' | translate}}: {{newInfo.url}}">
                          <i class="zmdi zmdi-email"></i>

                          
                        </a>
                    </li>
                  </ul>
              </li>
            </ul>


            <ul class="wall-attrs clearfix list-inline list-unstyled">
              <li class="wa-tags">
                  <div class="meta">
                    <a ng-href="{{newInfo.url}}" target="_blank">
                      <span class="badge no-color-tag">
                        {{newInfo.host.value}}
                      </span>
                    </a>
                  </diV>
              </li>
                    
            </ul>

            <a class="lv-footer f-15" ng-hide="ctrlDetail.isVisible" href="" ng-click="ctrlDetail.changeVisibilitySummarizer(true)">
              <i class="zmdi zmdi-eye"></i> {{'news.show_more_lbl' | translate}}
            </a>
            <div ng-hide="!ctrlDetail.isVisible">
              <br/>
              <feedback type="'3'" header="'news'" idnew="newInfo.id" ></feedback>  
            </div>
        </div>
        
              
    </div>
</div>