<div class="col-sm-12">
    <div class="card animated bounceInUp">
    	<div class="card-header bgm-bluegray" >
        	<h2 translate="not_news.title_lbl"></h2>
       	</div>
                        
       	<div class="card-body card-padding">
            <feedback type="'1'" header="'not_news'"></feedback>
       	</div>
                 
	</div>
</div>