<div 
	class="position-msg alert alert-dismissable animated fadeInDown"
	ng-class="[showErrorCtl.type, showErrorCtl.visible]">
    <button type="button" class="close close-position-msg" ng-click="showErrorCtl.hide()">
        <span aria-hidden="true" ng-hide="showErrorCtl.visible=='fadeOutUp'">×</span>
        <span class="sr-only">Close</span>
    </button>
    <span>{{showErrorCtl.msg | translate}}</span>
    <a href="#"></a>
</div>