<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9" data-ng-app="boudly" data-ng-controller="viewAdminCtrl as mactrl"><![endif]-->
    <![if IE 9 ]><html data-ng-app="boudly" ng-controller="viewAdminCtrl as mactrl"><![endif]><!-- data-ng-controller="viewAdminCtrl as mactrl"-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

        <title>Boudly</title>

        <!-- Vendor CSS -->
        <link href="vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
        <link href="vendors/bower_components/angular-loading-bar/src/loading-bar.css" rel="stylesheet">
        <link href="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">

        <!-- CSS -->
        <link href="css/app.min.1.css" rel="stylesheet" id="app-level">
        <link href="css/app.min.2.css" rel="stylesheet">
        <link href="css/boudly.css" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="57x57" href="ico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="ico/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="ico/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="ico/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="ico/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="ico/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="ico/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="ico/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="ico/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="ico/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="ico/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png">
        <link rel="manifest" href="ico/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="ico/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

    </head>

    <body data-ng-class="{ 'sw-toggled': mactrl.layoutType === '1'}">
        <header id="header" data-current-skin={{mactrl.currentSkin}} ng-include="'templates/header/header.html'" ng-controller="HeaderCtrl as hctrl"></header>

        <show-error></show-error>

        <section id="main">
            <data ng-view></data>
        </section>


        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->


        <!-- Core -->
        <script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Angular -->
        <script src="vendors/bower_components/angular/angular.min.js"></script>
        <script src="vendors/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="vendors/bower_components/angular-resource/angular-resource.min.js"></script>

        <!-- translate -->
        <script src="vendors/angular-translate/translate.js"></script>
        <script src="vendors/angular-translate/service/default-interpolation.js"></script>
        <script src="vendors/angular-translate/service/sanitization.js"></script>
        <script src="vendors/angular-translate/service/loader-static-files.js"></script>


        <script src="vendors/angular-translate/service/storage-key.js"></script>
        <script src="vendors/angular-translate/service/storage-local.js"></script>
        <script src="vendors/angular-translate/service/translate.js"></script>
        <script src="vendors/angular-translate/directive/translate.js"></script>
        <script src="vendors/angular-translate/filter/translate.js"></script>
        
        <!-- Angular Modules -->
        <script type='text/javascript' src="vendors/angular-route.js"></script>
        <script type='text/javascript' src="vendors/ngStorage.min.js"></script>
        <script type='text/javascript' src="vendors/crypto/sha256.min.js"></script>
        <script src="vendors/bower_components/angular-loading-bar/src/loading-bar.js"></script>
        <script src="vendors/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
        <script src="vendors/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

        <!-- Common Vendors -->
        <script src="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
        <script src="vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="vendors/bower_components/ng-table/dist/ng-table.min.js"></script>
       

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

        
        <!-- App Logic -->
        <script type='text/javascript' src="common/when-scrolled.js"></script>

        <!-- GUI App Scripts -->
        <script type='text/javascript' src="common/gui/services.js"></script>
        <script type='text/javascript' src="common/gui/controllers/main.js"></script>
        <script type='text/javascript' src="common/gui/controllers/ui-bootstrap.js"></script>
        <script type='text/javascript' src="common/gui/controllers/table.js"></script>


        <!-- GUI App level -->
        <script type='text/javascript' src="common/paths.js"></script>
        <script type='text/javascript' src="common/config.js"></script>
        <script type='text/javascript' src="common/app.js"></script>


        <!--Logic App Scripts -->
        <script type='text/javascript' src="common/logic/factories.js"></script>
        <script type='text/javascript' src="common/logic/directives.js"></script>

        <script type="text/javascript" src="templates/directive/controller.js"></script>
        <script type='text/javascript' src="templates/news/list.js"></script>
        <script type='text/javascript' src="templates/login/login.js"></script>
        <script type='text/javascript' src="templates/profile/profile.js"></script>
        <script type='text/javascript' src="templates/searcher/result.js"></script>
        <script type='text/javascript' src="templates/header/header.js"></script>


        <!-- Template Modules -->
        <!--<script src="js/modules/template.js"></script>-->
        <!--<script src="js/modules/ui.js"></script>-->
        <!--<script src="js/modules/charts/flot.js"></script>-->
        <!--<script src="js/modules/charts/other-charts.js"></script>-->
        <!--<script src="js/modules/form.js"></script>-->
        <!--<script src="js/modules/media.js"></script>-->
        <!--<script src="js/modules/components.js"></script>-->
        <!--<script src="js/modules/calendar.js"></script>-->
        <!--<script src="js/modules/demo.js"></script>-->
    </body>
</html>

