<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9" data-ng-app="boudly" data-ng-controller="viewAdminCtrl as mactrl"><![endif]-->
    <![if IE 9 ]><html data-ng-app="boudly" ng-controller="LoginCtrl as lctrl"><![endif]><!-- data-ng-controller="LoginCtrl as lctrl"-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        
        <title>Boudly</title>

        <!-- Vendor CSS -->
        <link href="vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
        <link href="vendors/bower_components/angular-loading-bar/src/loading-bar.css" rel="stylesheet">
        <link href="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">

        <!-- CSS -->
        <link href="css/app.min.1.css" rel="stylesheet" id="app-level">
        <link href="css/app.min.2.css" rel="stylesheet">
        <link href="css/boudly.css" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="57x57" href="ico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="ico/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="ico/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="ico/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="ico/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="ico/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="ico/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="ico/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="ico/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="ico/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="ico/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png">
        <link rel="manifest" href="ico/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="ico/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

    </head>

    <body class="login-content" ng-init="lctrl.init">

        <show-error></show-error>
         <!-- Login -->
        <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': lctrl.showLogin === 1 }" data-ng-if="lctrl.showLogin === 1">
            <form class="login-form">
                <h4 translate="login.saludo_lbl"></h4>
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="{{'login.email_plh' | translate}}" ng-model="lctrl.user.email" required>
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                    <div class="fg-line">
                        <input type="password" class="form-control" placeholder="{{'login.password_plh' | translate}}"  ng-model="lctrl.user.pass" required>
                    </div>
                </div>

                <div class="clearfix"></div>

            
                <div class="card-padding card-body">
                    <input type="submit" class="btn btn-success bgm-bluegray btn-block waves-effect"  ng-click="lctrl.login()" value="{{'login.login_btn' | translate}}" />

                    <button class="btn btn-success btn-block waves-effect" data-ng-click="lctrl.showLogin = 0; lctrl.showRegister = 1" translate="login.sign_btn"></button>

                </div>

            </form>

            <label class="msg">{{'login.msg_public_zone_lbl' | translate}} <a href="./#/anonymous">{{'login.public_zone_lbl' | translate}}</a>.</label>
            <br/>
            <!--<a class="msg cursor" data-ng-click="lctrl.showLogin = 0; lctrl.showForgot = 1" >{{'login.remenber_lbl' | translate}}</a>-->
        </div>

        <!-- Register -->
        <div class="lc-block" id="l-register" data-ng-class="{ 'toggled': lctrl.showRegister === 1 }" data-ng-if="lctrl.showRegister === 1">
            <form class="signup-form">
                <h4 translate="login.sign_lbl"></h4>
                <br/>
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="{{'login.name_plh' | translate}}"  ng-model="lctrl.userSignup.name">
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="{{'login.email_plh' | translate}}"  ng-model="lctrl.userSignup.email" required>
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                    <div class="fg-line">
                        <input type="password" class="form-control" placeholder="{{'login.password_plh' | translate}}"  ng-model="lctrl.userSignup.pass" required>
                    </div>
                </div>


                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                    <div class="fg-line">
                        <input type="password" class="form-control" placeholder="{{'login.password_plh2' | translate}}"  ng-model="lctrl.userSignup.pass2" required>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="card-padding card-body">
                    <input type="submit" class="btn btn-success btn-block waves-effect"  ng-click="lctrl.signUp()" value="{{'login.sign_btn' | translate}}" />

                    <button class="btn btn-success bgm-bluegray btn-block waves-effect" data-ng-click="lctrl.showRegister = 0; lctrl.showLogin = 1" translate="login.login_back"></button>
                </div>
            </form>

        </div>

        <!-- Forgot Password 
        <div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': lctrl.showForgot === 1 }" data-ng-if="lctrl.showForgot === 1">
            <form class="remenber-form">    
                <h4 translate="login.remenber_pass_lbl1"></h4>
                <label translate="login.remenber_pass_lbl2"></label>

                <div class="clearfix"></div>
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="{{'login.email_plh' | translate}}" required>
                    </div>
                </div>


                <div class="card-padding card-body">
                    <button class="btn btn-success btn-block waves-effect" data-ng-click="" translate="login.remenber_btn"></button>

                    <button class="btn btn-success bgm-bluegray btn-block waves-effect" data-ng-click="lctrl.showForgot = 0; lctrl.showLogin = 1" translate="login.login_back"></button>
                </div>
            </form>
        </div>-->

        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->



        <!-- Core -->
        <script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Angular -->
        <script src="vendors/bower_components/angular/angular.min.js"></script>
        <script src="vendors/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="vendors/bower_components/angular-resource/angular-resource.min.js"></script>

         <!-- translate -->
        <script src="vendors/angular-translate/translate.js"></script>
        <script src="vendors/angular-translate/service/default-interpolation.js"></script>
        <script src="vendors/angular-translate/service/sanitization.js"></script>
        <script src="vendors/angular-translate/service/loader-static-files.js"></script>


        <script src="vendors/angular-translate/service/storage-key.js"></script>
        <script src="vendors/angular-translate/service/storage-local.js"></script>
        <script src="vendors/angular-translate/service/translate.js"></script>
        <script src="vendors/angular-translate/directive/translate.js"></script>
        <script src="vendors/angular-translate/filter/translate.js"></script>
        
        <!-- Angular Modules -->
        <script type='text/javascript' src="vendors/angular-route.js"></script>
        <script type='text/javascript' src="vendors/ngStorage.min.js"></script>
        <script type='text/javascript' src="vendors/crypto/sha256.min.js"></script>
        <script src="vendors/bower_components/angular-loading-bar/src/loading-bar.js"></script>
        <script src="vendors/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
        <script src="vendors/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

        <!-- Common Vendors -->
        <script src="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
        <script src="vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="vendors/bower_components/ng-table/dist/ng-table.min.js"></script>
       

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

        
        <!-- App Logic -->
        <script type='text/javascript' src="common/when-scrolled.js"></script>

        <!-- GUI App Scripts -->
        <script type='text/javascript' src="common/gui/services.js"></script>
        <script type='text/javascript' src="common/gui/controllers/main.js"></script>
        <script type='text/javascript' src="common/gui/controllers/ui-bootstrap.js"></script>
        <script type='text/javascript' src="common/gui/controllers/table.js"></script>


        <!-- GUI App level -->
        <script type='text/javascript' src="common/paths.js"></script>
        <script type='text/javascript' src="common/config.js"></script>
        <script type='text/javascript' src="common/app.js"></script>


        <!--Logic App Scripts -->
        <script type='text/javascript' src="common/logic/factories.js"></script>
        <script type='text/javascript' src="common/logic/directives.js"></script>

        <script type="text/javascript" src="templates/directive/controller.js"></script>
        <script type='text/javascript' src="templates/news/list.js"></script>
        <script type='text/javascript' src="templates/login/login.js"></script>
        <script type='text/javascript' src="templates/profile/profile.js"></script>
        <script type='text/javascript' src="templates/searcher/result.js"></script>
        <script type='text/javascript' src="templates/header/header.js"></script>


        <!-- Template Modules -->
        <!--<script src="js/modules/template.js"></script>-->
        <!--<script src="js/modules/ui.js"></script>-->
        <!--<script src="js/modules/charts/flot.js"></script>-->
        <!--<script src="js/modules/charts/other-charts.js"></script>-->
        <!--<script src="js/modules/form.js"></script>-->
        <!--<script src="js/modules/media.js"></script>-->
        <!--<script src="js/modules/components.js"></script>-->
        <!--<script src="js/modules/calendar.js"></script>-->
        <!--<script src="js/modules/demo.js"></script>-->
    </body>
</html>

