<section id="content" when-scrolled="news.loadMore()"  data-ng-init="news.init()">

        <div class="container">
            <not-news ng-show="news.getNews().length===0 && !news.showLoading()"></not-news>
            <news info="new" ng-repeat="new in news.getNews()"></news>
            <loading ng-show="news.showLoading()"></loading>
        </div>

</section>
